<form method="POST">
    {% csrf_token %}

    {% if error %}
    <div class="alert alert-danger text-center">
        ❌ {{ error }}
    </div>
    {% endif %}

    <input type="text" name="username" placeholder="Enter username" class="form-control" required><br>

    <input type="password" name="new_password" placeholder="New password" class="form-control" required><br>

    <input type="password" name="confirm_password" placeholder="Confirm password" class="form-control" required><br>

    <button class="btn btn-primary w-100">Reset Password</button>
</form>